body {
    background-color: #ffbeaa;
    font-family: Arial;
    overflow: hidden;
    margin: 0px;
    padding:  0px;
    width: 100%;
}
#upper {
    position: sticky;
    top: 0px;
    width: 100%;
    left: 0px;
    height: 5%;
    padding: 10;
    background-color: #ffcfaa;
}
#myname {
    padding-right: 20;
    font-size: 2em;
    font-weight: bold;
}
#cent {
    width: inherit;
    left: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #ffbeaa;
}
.section {
    padding: 10% 20%;
    left: 0px;
    top: 0;
    height: 100%;
}
.heading {
    font-size:3em;
    text-align: right;
    font-weight: bold;
}
.subheading {
    
}
