body {
    background-color: #eafaff;
    font-family: Arial;
    overflow: hidden;
}
#upper {
    position: sticky;
    top: 0;
    bottom: 0;
    width: 105%;
    left: -1%;
    height: 5%;
    padding: 10;
    background-color: #ffcfaa;
}
#myname {
    padding-right: 20;
    font-size: 2em;
    font-weight: bold;
}
#cent {
    width: 100%;
    background-color: #ffbeaa;
}
.section {
    padding: 25% 0%;
    postion: relative;
    top: 0;
    height: 100%;
}
.heading {
    
}
.subheading {
    
}