<html>
  <head>
    <title>Josh Prole</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'joshprole/style.css' %}">
  </head>
  <body>
    <div id="upper"><span id="myname">Josh Prole</span><span id="desc">Efficient Solutions. Passionate Designs</span></div>
    <div class="section">
      <p class="heading">I am a lifelong programmer with extensive knowledge in Full Stack Development</p>
      <p class="subheading">This site is built from scratch using Django and Azure back ends. I use HTML5, JQuery and CSS to design the UI. I also have experience with Apache and PHP.</p>
    </div>
    <div class="section">
      <p class="heading">Python is my specialty</p>
      <p class="subheading">
    </div>
    <div class="section">
      <p class="heading">I started programming when I was 12 years old, after reading the manual for a TI-83 calculator.</p>
      <p class="subheading">I only had 26 variables to work with (One for each letter) but I enjoyed learning this new language and it was rewarding to write useful programs that helped me with my homework.</p>
    </div>
  </body>
</html>
